 body {

  font-family: Arial, sans-serif;
  background-color: #94DEA5;
  color: #023D54;
  
}


.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 10px;
}

header {
  grid-column: 1 / span 2;
  background-color: #023D54;
  color: white;
  padding: 20px;
  text-align: center;
}



.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color:#023D54 ;
  text-decoration: none;
}

.main-content {
  padding: 20px;
  background-color: #ffff6674;
}

form {
  margin-bottom: 20px;
}

button{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #023D54;
    color: #94DEA5;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
  background-color: #9A6735;
}
