 body {
padding: 50px;
  font-family: Arial, sans-serif;
  background-color: #94dea5b2;
  color: #023D54;
  
}
.navBar{
background-color: #023d5442;
border-radius: 0.5vmax;

}
.navBar ul {
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}
.navBar li{
    padding: 10px;
    color: #023D54;
    font-weight: bolder;

}
.navBar a{
    text-decoration: none;
}
.navBar a:hover{
    background-color: #94DEA5;
    padding: 10px;
    border-radius: 0.5vmax;
    transition: ease-in;
    transition-duration: 0.5s ;
}


.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 10px;
}

header {
  grid-column: 1 / span 2;
  background-color: #023D54;
  color: white;
  padding: 20px;
  text-align: center;
}



.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color:#023D54 ;
  text-decoration: none;
}

.main-content {
  padding: 20px;
  background-color: #ffff6674;
}

form {
  margin-bottom: 20px;
}

button{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #023D54;
    color: #94DEA5;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
  background-color: #9A6735;
}
.footer{
    padding-top: 4px;
    padding: 10px;
    align-content: center;
    background-color: #023d541a;
}
.footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: inherit;
}
footer{
     color: #023D54;
}

