body{
   display: block;
   margin: 0 auto;
   padding: 10px; 
   font-family: Arial, Helvetica, sans-serif;
   background-color: #e8e8141a;
    
}
.navBar{
background-color: #023d5442;
border-radius: 0.5vmax;


}
.navBar ul {
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}
.navBar li{
    padding: 10px;
    color: #023D54;
    font-weight: bolder;

}
.navBar a{
    text-decoration: none;
}
.navBar a:hover{
    background-color: #94DEA5;
    padding: 10px;
    border-radius: 0.5vmax;
    transition: ease-in;
    transition-duration: 0.5s ;
}
.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden; 
     border-radius: 5px; 
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
   
}
.intro{
    padding-left: 10px;
    background-color:#023D54 ;
    width: 500px;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    right: 60%;
    color: #94DEA5;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
}
.registerform{
    display: flex;
    position: absolute;
    top: 20%;
    left: 60%;
    max-width: fit-content;
    padding: 100px;
    border-radius: 5px;
    background-color:#94DEA5;
    color: #023D54;
}
form{
    justify-content: center;
}
label{
    font-weight: bolder;
    padding: 5px;
}
input{
    width: 250px;
    height: 30px;
    padding-top: 5px ;
    border: none;
    border-radius: 5px;
    
}
button{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #023D54;
    color: #94DEA5;
    font-weight: bolder;
}
.footer{
    padding-top: 4px;
    padding: 10px;
    align-content: center;
    background-color: #023d541a;
}
.footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: inherit;
}
footer{
     color: #023D54;
}
