body{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    background-color:#fefe0c52 ;
    align-items: center;
}
.registerform{
    float: right;
    padding: 100px;
    align-items: center;
    background-color: #2891ba;
    width: 300px;
    height: 300px;
    border: 1px #2891ba;
    border-radius: 2vmax;
    box-shadow: 4px 5px 7px #9A6735;
}
form{
    
    padding: 20px;
    align-items: center;
   

}
label{
    font-weight: bold;
    font-size: larger;
    padding: 20px;
}
input{
    padding: 10px;
    width: 250px;
    
}
button{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px #130a01 ;
    background-color: #a0570e;
    border-radius: 5px;
    color: #000507;
    font-weight: bold;
    font-size: larger;
}
button:hover{
    background-color: #9A6735;
    box-shadow: 1px 3px 4px #a0570e;
}
.intro{
    
    padding: 40px;
    align-items: center;
    width: 600px;
    height: 200px;
    position: top;
    background-color: #1997c540;
    border-radius: 2vmax;
    box-shadow: 4px 5px 7px #9A6735;
}
h1{
    text-align: center;
    color: #042d3d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #042d3d;
}
